body{
    display: grid;
    background-image:url(../img/carta.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
    padding-top: 15%;
}
h2{
    text-align: center;
}
#centrar{
    align-items: center;
    padding: 3%;
    align-self: center;
    justify-self: center;
    color: rgb(54, 245, 255);
    background-color: black;
    background:rgba(0, 0, 255, 0.188); 
}
